* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    color: #F5E9CF;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #4D455D;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #342f3f;
    border-radius: 10px;
}

img {
    width: 25px;
}

#checkBtn, #editBtn, #delBtn {
    border: none;
    padding: 5px;
    cursor: pointer;
    box-shadow: none;
}

#checkBtn::after {
    content: url(./svg/check.svg);
}

#editBtn::after {
    content: url(./svg/edit.svg);
}

#delBtn::after {
    content: url(./svg/del.svg);
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    border: 1px solid #342f3f;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 1px 5px 2px rgba(12, 12, 12, 0.31);
}

.active_btn, #resetBtn:active {
    box-shadow: -2px -1px 5px 2px rgba(0, 0, 0, 0.31) inset;
    color: #ddd2bb;
}

#settingsBtn, #addTaskBtn {
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0px;
    margin-right: 20px;
}

#addTaskBtn {
    margin-right: 0px;
}

.timer__settings-btn_wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end
}

.toDo__edit-task {
    width: 450px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin: 20px 0 10px 0;
}

.task_text__wrapper {
    max-width: 90%;
    min-height: 20%;
    align-self: center;
}

.task_text {
    text-align: center;
    font-size: 20px;
    height: 15px;
    word-wrap: break-word;
}

.toDoList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #342f3f;
    padding: 5px 10px;
    border-radius: 10px;
}

.toDoList:hover {
    background-color:#3333334f;
}

.parTask {
    width: 330px;
    overflow-wrap: break-word;
}

.timer, #toDo {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    margin: 30px auto 30px auto;
}

.timer__content, .toDo__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 480px;
    min-height: 350px;
    border-radius: 10px;
    border: 1px solid #342f3f;
}

.toDo__content {
    gap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.toDo__add-task {
    display: flex;
}

.timer__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#timerWork {
    font-size: 75px;
    font-weight: 700;
}

.timer__managment-btn {
    display: flex;
    gap: 15px;
}

.modal {
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.568);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 20px;
}

.modal__wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 250px;
    border-radius: 10px;
    background-color: #333333;
}

.hidden_el, .hidden_el_task {
    display: none;
}

.visibl_el {
    display: block;
}

.color_work, body {
    background-color: #4D455D;
}

.color_short {
    background-color: #d6566a;
}

.color_long {
    background-color: #5faca8;
}

input {
    border: none;
    border-radius: 5px;
    background-color: #ddd2bb00;
    border-bottom: 1px solid #000000;
    padding: 5px;
    width: 50px;
    max-height: 200px;
    text-align: center;
    outline: none;
}

#toDoItem {
    text-align: left;
    width: 430px;
    border-radius:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
    -webkit-appearance: none;
    margin: 0;
}

.check-task {
    text-decoration: line-through;
    opacity: 0.5;
}

.check-task:active {
    background-color: #7DB9B6;
}

@media (max-width: 500px) {
    .timer__content, .toDo__content {
        min-width: 300px;
        margin: 0 20px 0 20px;
    }
    
    .toDo__add-task, .toDo__edit-task {
        width: 100%;
    }
    
    .toDoList {
        gap: 10px;
    }
    .parTask {
        width: 60%;
    }
}
